[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Comment=Capable and ergonomic IDE for JVM
Icon={{ intellij_install_root }}/idea/bin/idea.svg
Exec="{{ intellij_install_root }}/idea/bin/idea.sh" %f
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-idea
